/*! Global CSS */

@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
    --font-sans: ChillRoundF, -apple-system, "Microsoft YaHei", sans-serif;

    --color-primary-50: var(--color-sky-50);
    --color-primary-100: var(--color-sky-100);
    --color-primary-200: var(--color-sky-200);
    --color-primary-300: var(--color-sky-300);
    --color-primary-400: var(--color-sky-400);
    --color-primary-500: var(--color-sky-500);
    --color-primary-600: var(--color-sky-600);
    --color-primary-700: var(--color-sky-700);
    --color-primary-800: var(--color-sky-800);
    --color-primary-900: var(--color-sky-900);
    --color-primary-950: var(--color-sky-950);

    --color-accent-50: var(--color-amber-50);
    --color-accent-100: var(--color-amber-100);
    --color-accent-200: var(--color-amber-200);
    --color-accent-300: var(--color-amber-300);
    --color-accent-400: var(--color-amber-400);
    --color-accent-500: var(--color-amber-500);
    --color-accent-600: var(--color-amber-600);
    --color-accent-700: var(--color-amber-700);
    --color-accent-800: var(--color-amber-800);
    --color-accent-900: var(--color-amber-900);
    --color-accent-950: var(--color-amber-950);
}

body {
    text-autospace: normal;
}

@media (width >= 48rem) {
    .koi-squircle-md {
        border-radius: 1.5rem;
        @supports (corner-shape: squircle) {
            border-radius: 3rem;
            corner-shape: squircle;
        }
    }
}

/* Hack: 改善 kbd 间距不够的问题 */
.prose kbd:has(kbd) {
    padding: 0.5rem;
}

.prose kbd {
    margin: 0 0.125rem;
}

.prose a:hover {
    border-color: var(--color-accent-300);
    background-color: var(--color-accent-100);
}
@media (prefers-color-scheme: dark) {
    .prose a:hover {
        border-color: var(--color-accent-700);
        background-color: var(--color-accent-950);
    }
}
