---
import { SITE_COPYRIGHT_YEAR_START, SITE_TITLE } from "../consts";
---

<footer class="text-black dark:text-white flex justify-center my-8">
	<div class="w-full max-w-4xl px-5 md:px-6">
		<p class="text-center">&copy; {SITE_COPYRIGHT_YEAR_START}-{new Date().getFullYear()} <a href="./">{SITE_TITLE}</a></p>
		<p class="text-center mt-2 opacity-60">Powered by <a href="https://astro.build/">Astro</a>・Based on <a href="https://github.com/tcdw/koi">Koi</a></p>
	</div>
</footer>
